<div id="navbar">
  <nav>
    <div id="logo">
      <!-- Logo ici -->
    </div>
    <div id="navlinks">
      <ul>
        <li>
          <a href="{{ path("app_main") }}">Accueil</a>
        </li>
        {% if app.user %}
          <li>
            <span id='cart-counter'></span>
            <span id='cart-total'></span>
          </li>
        {% endif %}
      </ul>
    </div>
    <div id="register">
      <ul>
        {% if app.user %}
          <li>
			<a href="{{ path('app_profile') }}">Bienvenue, {{ app.user.firstname|capitalize }}</a>
		  </li>
        {% else %}
          <li>
            <a href="{{ path("app_register") }}">Inscription</a>
          </li>
          <li>
            <a href="{{ path("app_login") }}">Connexion</a>
          </li>
        {% endif %}
      </ul>
    </div>
    {% if app.user %}
      <div id="dropdown_menu">
        <input type="checkbox" id="dropdown_toggle">
        <label for="dropdown_toggle">
          <div id="dropdown_menu_image">
            <!-- Image pour le menu déroulant -->
          </div>
        </label>
        <ul>
          <li>
            <a href="{{ path("app_logout") }}">Déconnexion</a>
          </li>
          <li>Link 2</li>
        </ul>
      </div>
    {% endif %}
  </nav>
</div>
