{% extends "base.html.twig" %}

{% block title %}Inscription{% endblock %}

{% block body %}
<div class="page">
	<div class="form-register-page">
		<div class="form-container">
			<h2 id="sign">Inscription</h2>
		
			{{ form_errors(registrationForm) }}

			{{ form_start(registrationForm) }}
			
				<div class="label"> 
					{{ form_label(registrationForm.firstname, "Prénom" ) }}
				</div>
			
				<div class="field">
					{{ form_widget(registrationForm.firstname) }}
				</div>
		
				<div class="label">
					{{ form_label(registrationForm.lastname, "Nom")}}
				</div>

				<div class="field">
					{{ form_widget(registrationForm.lastname)}}
		
				</div>
				<div class="label">
					{{ form_label(registrationForm.email,"Email") }}
				</div>
			
				<div class="field">
					{{ form_widget(registrationForm.email)}}
				</div>
			
				<div class="label">
					{{ form_label(registrationForm.address, "Adresse") }}
				</div>

				<div class="field">
					{{ form_widget(registrationForm.address)}}
				</div>
			
				<div class="label">
					{{ form_label(registrationForm.zipcode,"Code postal") }}
				</div>

				<div class="field">
					{{ form_widget(registrationForm.zipcode) }}
				</div>

				<div class="label">
					{{ form_label(registrationForm.city,"Ville") }}
				</div>
			
				<div class="field">	
					{{ form_widget(registrationForm.city) }}
				</div>
			
				<div class="label">
					{{ form_label(registrationForm.plainPassword, "Mot de passe")}}
				</div>
				<div class="field">
					{{ form_widget(registrationForm.plainPassword) }}
				</div>
				
				<div id="rgpd">
					{{ form_widget(registrationForm.RGPDConsent) }}
					<label>Vous acceptez la RGPD</label>
				</div>
				
				<div class="button-container">
					<button type="submit">Register</button>
				</div>
		
			{{ form_end(registrationForm) }}
		</div>
	</div>
</div>
{% endblock %}
